{% extends base_filename %}


{% block title %}{{ train_title }}{% endblock %}


{% block styles %}
    .operator-selector {
        min-width: 15em;
    }

    .operator-selector * {
        box-sizing: border-box;
    }

    .operator-selector label {
        font-size: 16px;
        font-weight: 500;
    }

    .select-clicked {
        border: 1px #28a645 solid;
        box-shadow: 0 0 3px 1px rgba(40, 166, 69, 0.5),
                    0 0 5px 2px rgba(116, 166, 128, 0.3);
    }

    .caret {
        width: 0;
        height: 0;
        transition: 0.3s;
    }

    .caret-rotate {
        transform: rotate(90deg);
    }

    .menu {
        list-style: none;
        padding: 0em 0.5em;
        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
        border-radius: 0.5em;
        position: relative;
        top: 0.4em;
        width: 100%;
        height: 0;
        transition: 200ms cubic-bezier(0.77, 0, 0.18, 1), background 0.3s;
        z-index: 1;
        overflow-y: scroll;
    }

    .menu::-webkit-scrollbar {
        width: 8px;
    }

    .menu li {
        align-items: center;
        height: 40px;
        padding: 8px 10px 12px 10px;
        margin: 0.3em 0;
        border-radius: 0.5em;
        transition: background 0.3s, color 0.3s;
        cursor: pointer;
        font-weight: 500;
    }

    .text-fade-in {
        animation: textFade 300ms ease-out;
    }

    .menu-open {
        height: 10em;
    }

    @keyframes textFade {
        0% {
            transform: translate(-1em);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
{% endblock %}


{% block content %}
<div class="container">
    <h1 class="text-center mb-4">{{calculator_title}}</h1>
    <form method="post">
        <div class="form-group">
            <label for="number1">{{number_text}} 1:</label>
            <input class="custom-input" type="text" id="number1" name="number1" placeholder="{{ converter_placeholder_text_number }}" autocomplete="off" style="margin-bottom: 10px;" required>
            <input class="custom-input" type="text" id="base1" name="base1" placeholder="{{ converter_placeholder_text_base }}" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label for="number2">{{number_text}} 2:</label>
            <input class="custom-input" type="text" id="number2" name="number2" placeholder="{{ converter_placeholder_text_number }}" autocomplete="off" style="margin-bottom: 10px;" required>
            <input class="custom-input" type="text" id="base2" name="base2" placeholder="{{ converter_placeholder_text_base }}" autocomplete="off" required>
        </div>
        <div class="operator-selector" style="user-select: none;">
            <label for="operation" >{{operation_type_text}}:</label>
            <div id="operation" class="select">
                <input type="hidden" id="chosen_operation" name="chosen_operation" value="+">
                <span class="selected" id="operation_id">+ {{addition}}</span>
                <div class="caret"></div>
            </div>
            <ul class="menu">
                <li class="operator-active">+ {{addition}}</li>
                <li>- {{subtraction}}</li>
                <li>* {{multiplication}}</li>
                <li>/ {{division}}</li>
            </ul>
        </div>
        <div class="form-group">
            <label for="result_base">{{answer_number_system_text}}:</label>
            <input class="custom-input" type="text" id="result_base" name="result_base" placeholder="{{ converter_placeholder_text_base }}" autocomplete="off" style="margin-bottom: 10px;" required>
        </div>
        <button type="submit" class="btn btn-success">{{calculate}}</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/calculator.js') }}"></script>
{% endblock %}
