{% extends base_filename %}


{% block title %}{{ login_title }}{% endblock %}


{% block styles %}
    a {
        color: #28a645;
    }

    .container {
        padding-bottom: 5px;
    }
{% endblock %}


{% block content %}
    <div class="container">
        <h1>{{login_title}}</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} custom-alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <div class="form-group">
                <label for="username">{{username}}</label>
                <input type="text" class="custom-input" id="username" name="username" placeholder="{{enter_username}}" autocomplete="off" required>
            </div>
            <div class="form-group">
                <label for="password">{{password}}</label>
                <input type="password" class="custom-input" id="password" name="password" placeholder="{{enter_password}}" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 5px">{{login}}</button>
            <p>{{offer_to_register_1}}<a href="{{ url_for('register') }}">{{offer_to_register_2}}</a></p>
        </form>
    </div>
{% endblock %}
