<!DOCTYPE html>
<html>
<head>
  <title>{{welcome_title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding: 50px;
    }
  </style>
</head>
<body>
<form method="post">
  <button type="submit" class="btn btn-primary" style="position: relative; left: 50%;">{{start_button}}</button>

  <div style="position: relative; left: 50%;">
      <input type="radio" id="ru" name="lang" value="ru" checked />
      <label for="ru">Руский</label>
  </div>
  <div style="position: relative; left: 50%;">
      <input type="radio" id="en" name="lang" value="en" />
      <label for="en">English</label>
  </div>
  <div style="position: relative; left: 50%;">
      <input type="radio" id="ge" name="lang" value="ge" />
      <label for="ge">Deutsch</label>
  </div>
  <div style="position: relative; left: 50%;">
      <input type="radio" id="fr" name="lang" value="fr" />
      <label for="fr">Français</label>
  </div>
  <div style="position: relative; left: 50%;">
      <input type="radio" id="ja" name="lang" value="ja" />
      <label for="ja">日本語</label>
  </div>
</form>
</body>
</html>